body {
    background-color: rgb(204, 107, 107);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    
}

p {
    text-align: center;
    font-size-adjust: inherit;
    font-style: oblique;
}

form {
    text-align: center;
}

label {
    font-style: normal;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
  }

button {
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    border: 5px rgb(205, 70, 70);
    padding: 16px 32px;
    transition-duration: 0.6s;
    font-size: 16px;
}